@import "variable.styl"

.el-table
  th
    color: $color-theme-r
    background: $color-theme
    font-size: $font-size-medium-x
    font-weight: bold
  tr
    color: white
  tr:nth-child(odd)
    background: $color-theme-r
  tr:nth-child(even)
    background: $color-theme-h

.app-breadcrumb.el-breadcrumb
  display: inline-block
  line-height: 50px
  margin-left: 10px
  .no-redirect
    color: #fff
    cursor: text
    font-size: 20px
    font-weight: 700
  .icon-location:before
    color: #fff
    font-size: 28px
    margin-right: 5px
