@import "variable.styl"

.el-table
  th
    color: $color-theme-r
    background: $color-theme
    font-size: $font-size-medium-x
    font-weight: bold
  tr
    color: white
  tr:nth-child(odd)
    background: $color-theme-r
  tr:nth-child(even)
    background: $color-theme-h